#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border: 1px solid #f4f3f8;
  width: 100%;

  &:last-child {
    border-bottom: none;
    border-right: none;
  }
}

td {
  width: 30%;
  border-bottom: 1px solid #f4f3f8;
  border-right: 1px solid #f4f3f8;
}
